<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player Dashboard</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!-- CSS for this page-->
    <link rel="stylesheet" href="/css/dashboard.css">
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Bootstrap specific javascript functions -->
    <script src="/js/bootstrap.min.js"></script>
    <script type = "text/javascript">
        console.log(data);
    </script>
</head>
<body>
    <div class="container">
        <h2><a href="/">Players Dashboard</a> <a href = "/players/new" class="btn btn-success pull-right">Add New Player</a></h2>
        <div class="method">
            <div class="row margin-0 list-header hidden-sm hidden-xs">
                <div class="col-md-4"><div class="header">Name</div></div>
                <div class="col-md-3"><div class="header">Team</div></div>
                <div class="col-md-3"><div class="header">Position</div></div>
                <div class="col-md-2"><div class="header">Edit/Remove</div></div>
            </div>
            <% for(var i=0; i < data.length; i++) { %>
                <div class="row margin-0">
                    <div class="col-md-4">
                        <div class="cell">
                            <a href="/players/<%= data[i]._id %>"><%= data[i].name %></a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cell">
                            <%= data[i].team %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cell">
                            <%= data[i].position %>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cell">
                            <a href="/players/<%= data[i]._id %>/edit">Edit</a> / <a href="players/<%= data[i]._id %>/destroy">Remove</a>                        
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>
